<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <div class="table">
                    <tr>
                        <td>Book Name</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Aautor</td>
                        <td><input type="text" class="form-control"></input></td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>publisher</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn-success form-control">ADD</button></td>
                    </tr>
                </table>
                </div>
                <div class="col col-2 col-sm-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>   
</body>
</html>